// MAIN COLORS

$bg--light--default: #f7eded;
$bg--light--1: #FFE2E2;
$bg--light--2: #FFFFFF;
$bg--light--3: #dadada;

$primary--1: #FFC7C7;
$primary--2: #faa5a5;
$primary--3: #c95151;
$primary--4: #831f1f;
$primary--hover--1: #d37575;
$secondary--1: #918be4;
$secondary--2: #726bd3;
$secondary--hover--1: #645faa;

$error--1: #cc5b5b;

$border--light--1: rgb(216, 216, 216);

$text--on--light--1: rgb(61, 61, 61);
$text--on--light--2: rgb(26, 26, 26);
$text--on--light--3: rgb(0, 0, 0);
$text--on--light--4: rgb(88, 88, 88);
$text--on--light--5: rgb(172, 172, 172);
$text--on--light--6: rgb(117, 116, 116);

$text--on--dark--1: rgb(255, 255, 255);

// DIMENSIONS

$border--radius--1: 8px;