// MAIN COLORS

$bg--light--default: #f7eded;
$bg--light--1: #FFE2E2;
$primary--1: #FFC7C7;
$primary--2: #faa5a5;
$primary--hover--1: #d37575;
$secondary--1: #8785A2;

$border--light--1: rgb(216, 216, 216);

$text--on--light--1: rgb(52, 52, 52);
$text--on--light--2: rgb(26, 26, 26);
$text--on--light--3: rgb(0, 0, 0);

$text--on--dark--1: rgb(255, 255, 255);