@import 'src/styles/variables';

.container .header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    box-sizing: border-box;
    background-color: $bg--light--2;
    border-bottom: 1px solid $border--light--1;

    span {
        font-size: 20px;
    }

    a {
        color: inherit;
        cursor: pointer;
        text-decoration: none;

        &:active {
            color: black;
        }
    }
}

.header .actions {
    display: flex;
    align-items: center;
    column-gap: 8px;
}