@import 'src/styles/variables';

.primaryCheckbox {
    :global {
        .MuiCheckbox-root {
            color: $primary--4;

            &.Mui-checked {
                color: $primary--3;
            }
        }
    }
}

.secondaryCheckbox {
    :global {
        .MuiCheckbox-root {
            color: $secondary--2;

            &.Mui-checked {
                color: $secondary--1;
            }
        }
    }
}